* {
  box-sizing: border-box;
}

header * {
    margin: 0;
}

#input-text {
  display: block;
  width: 100%;
  max-width: 100%;
  max-height: 21rem;
  min-width: 20rem;
  min-height: 10rem;
  resize: none;
  white-space: pre;
  overflow: auto;
}
