{% extends "base.html" %}
{% block content %}
    <header>
        <div>
            <h1>LW1 Comp Math - Решение СЛАУ</h1>
            <h2>Дунаев Алексей P3217</h2>
            <h2>Вариант: Метод простых итераций</h2>
        </div>
    </header>
    <script src="/static/js/lw1.js"></script>
    <div>
    <div id="input-error" style="display: none;">Тут будет текст ошибки</div>
    <form id="input" method="post">
        <textarea id="input-text" rows="21"
                  placeholder="Расширенная матрица (N на N+1).
Разделитель значений - пробел, строк - перенос строки
4 0.24 -0.08 8
0.09 3 -0.15 9
0.04 -0.08 4 20
"
                  form="input" name="matrix" required>{{ post_text_matrix }}</textarea>
        <div id="input-buttonpanel">
            <input type="file" id="file-inp" style="display: none" accept=".txt">
            <label>
                N случайно генерируемой матрицы:
                <input type="number" id="input-n-for-rand" value="5" min="1" max="20" step="1" onclick="">
            </label>
            <label>
                Точность:
                <input type="number" step="any" id="eps" form="input" name="eps" value="1e-5" required onclick="">
            </label>
            <input type="button" value="Сгенерировать случайные коэффициенты" onclick="genRandomMatrix();">
            <input type="button" value="Загрузить из файла" onclick="$('#file-inp').click()">
            <input type="submit" value="Вычислить">
        </div>
    </form>

{% endblock %}

{% block output %}
    {% if output %}
        <h2>Входная матрица:</h2>
        $$
        \bar{A} =
        {{ output.initial_matrix_latex }}
        $$
        <p>Обозначим:</p>
        <span>${\displaystyle {\frac {b_{i}}{a_{ii}}}=\beta _{i};-{\frac {a_{ij}}{a_{ii}}}=\alpha _{ij}}$</span>
        <span> при $i \neq j$; ${\displaystyle \alpha _{ij}=0}$ </span>
        <span> при $i=j$</span>
        $${\displaystyle \alpha ={{ output.alpha_matrix_latex }};\qquad
        \beta ={{ output.beta_vector_latex }} }$$

        <span>В матричном виде получим: ${\displaystyle X=\beta +\alpha x}$</span>
        <span>За нулевое приближение примем столбец свободных членов.</span>
        <p>нулевое приближение:</p>
        $${\displaystyle {\begin{bmatrix}x_{1}^{(0)}\\\vdots \\x_{n}^{(0)}\end{bmatrix}}={\begin{bmatrix}\beta _{1}\\\vdots \\\beta _{n}\end{bmatrix}}}$$
        <p>первое приближение:</p>
        $${\displaystyle {\begin{bmatrix}x_{1}^{(1)}\\\vdots \\x_{n}^{(1)}\end{bmatrix}}={\begin{bmatrix}\beta _{1}\\\vdots \\\beta _{n}\end{bmatrix}}+{\begin{bmatrix}\alpha _{11}&\cdots &\alpha _{1n}\\\vdots &\ddots &\vdots \\\alpha _{n1}&\cdots &\alpha _{nn}\end{bmatrix}}{\begin{bmatrix}x_{1}^{(0)}\\\vdots \\x_{n}^{(0)}\end{bmatrix}}} $$
        <p>второе приближение и т. д.</p>
        $${\displaystyle {\begin{bmatrix}x_{1}^{(2)}\\\vdots \\x_{n}^{(2)}\end{bmatrix}}={\begin{bmatrix}\beta _{1}\\\vdots \\\beta _{n}\end{bmatrix}}+{\begin{bmatrix}\alpha _{11}&\cdots &\alpha _{1n}\\\vdots &\ddots &\vdots \\\alpha _{n1}&\cdots &\alpha _{nn}\end{bmatrix}}{\begin{bmatrix}x_{1}^{(1)}\\\vdots \\x_{n}^{(1)}\end{bmatrix}}} $$

        <p> ${\displaystyle X^{(k)}=\beta +\alpha X^{(k-1)}}, {\displaystyle k=1,2,\dots }$ </p>
        <p> ${\displaystyle X=\lim _{k\to \infty }X^{(k)}} {\displaystyle X=\lim _{k\to \infty }X^{(k)}}$ — решение системы. </p>


        <p>Имеет диагональное преобладание: {{ output.diagonally_dominant }}</p>

        <p>После приведения к диагонально приобладающему виду:</p>
        $$
        A =
        {{ output.dominant_matrix_latex }}
        $$

        {% if output.diagonally_dominant %}
            <p>Количество итераций: {{ output.iteration_number }}</p>

            <p>Решение:</p>
            $$
            X =
            {{ output.solution_vector_latex }}
            $$

            <p>Погрешность:</p>
            $$ \frac{R}{\varepsilon} =
            {{ output.error_vector_latex }}
            $$
        {% else %}
            <p>Не сходится</p>
        {% endif %}
    {% endif %}
{% endblock %}